<div class="row">
  <div class="col-sm-4">
    <table class="table table-striped">
        <tbody>
          <tr>
            <th>Battery:</th>
            <td>{{ (mowerStatus | async)?.batteryPercent }} %</td>
          </tr>
          <tr>
            <th>Status:</th>
            <td>{{ (mowerStatus | async)?.mowerStatus }}</td>
          </tr>
          <tr>
              <th>Connected:</th>
              <td>{{ (mowerStatus | async)?.connected }}</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
